body{
margin: 20px 20px 80px 20px;
}


/* フッター */
footer {
width: 100%;
height: 50px;
background: #CCC;
padding: 0px;
box-sizing: border-box; /* padding分を含んで幅を100%にするため */
position: fixed; /* ウィンドウを基準に画面に固定 */
bottom: 0;
left: 0; /* 左右の固定位置を左から0pxにする */
display: flex; /* 中の要素を横並びにする */
align-items: center; /* 中の要素を上下中央に並べる */
}

footer .gnav .menu {
display: flex; /* 中の要素を横並びにする */
}
footer .gnav .menu li {
    list-style: none; /* リストの[・]を消す */
}
footer .gnav .menu li + li {
    margin-left: 20px; /* メニューそれぞれに間隔をあけるため */
}
main {
    height: 100vw; /* スクロールの演出を見れるようにmainに高さを指定 */
}

/* ヘッダー */
header {
width: 100%;
height: 50px;
background: #AA5F5F;
color: #FFFFFF;
padding: 20px;
box-sizing: border-box; /* padding分を含んで幅を100%にするため */
position: fixed; /* ウィンドウを基準に画面に固定 */
top: 0;
left: 0; /* 左右の固定位置を左から0pxにする */
display: flex; /* 中の要素を横並びにする */
align-items: center; /* 中の要素を上下中央に並べる */
}

/* リンク */
a:link { color: #666666; }
a:visited { color: #808080; }

/* 文字色 */
.ho1 {color: #e83828;}
.ho2 {color: #928c36;}
.ho3 {color: #ee827c;}
.ho4 {color: #9b95c9;}
.ho5 {color: #7dd1ce;}
.ho6 {color: #e7609e;}
.ho7 {color: #d9333f;}
.ho8 {color: #b7b7b7;}
.ho9 {color: #dbdd4f;}
.ho10 {color: #cd622c;}
.ho11 {color: #b22d35;}
.ho12 {color: #d4af37;}

.ono {color: #abced8;}
.ren {color: #e91e63;}
.okada {color: #607d8b;}
.mamiya {color: #3f51b5;}


/* 秘匿 */
.secret {position: relative; margin: 2em 0em 0em 1em; padding: 0.5em 1em; border: solid 3px; border-radius: 8px;}
.secret .box-title {position: absolute; display: inline-block; top: -13px; left: 10px; padding: 0 9px; line-height: 1; font-size: 19px; background: #FFF; font-weight: bold;}
.secret p {margin: 0.5em 0em 0.5em 0em; padding: 0; font-size: small;}

.sho1 {border-color: #e83828;}
.sho1 .box-title {color: #e83828;}

.sho2 {border-color: #928c36;}
.sho2 .box-title {color: #928c36;}

.sho3 {border-color: #ee827c;}
.sho3 .box-title {color: #ee827c;}

.sho4 {border-color: #9b95c9;}
.sho4 .box-title {color: #9b95c9;}

.sho5 {border-color: #7dd1ce;}
.sho5 .box-title {color: #7dd1ce;}

.sho6 {border-color: #e7609e;}
.sho6 .box-title {color: #e7609e;}

.sho7 {border-color: #d9333f;}
.sho7 .box-title {color: #d9333f;}

.sho8 {border-color: #d3d3d3;}
.sho8 .box-title {color: #b7b7b7;}

.sho9 {border-color: #f4f658;}
.sho9 .box-title {color: #dbdd4f;}

.sho10 {border-color: #cd622c;}
.sho10 .box-title {color: #cd622c;}

.sho11 {border-color: #b22d35;}
.sho11 .box-title {color: #b22d35;}

.sho12 {border-color: #d4af37;}
.sho12 .box-title {color: #d4af37;}

/* 雑談 */
.chat {padding: 0.5em 1em; margin: 1em 0em 0em 1em; background: #efefef;/*背景色*/ font-size: small; border-radius: 8px;}

/* 空白 */
.space {margin-top: 100px; margin-bottom:100px;}
.space2 {margin-bottom: 1000px;}

.bdr {margin: auto; margin-bottom: 1000px; width: 80%; display: flex; align-items: center;}
.bdr::before,
.bdr::after {content: ""; height: 1px; flex-grow: 1; background-color:#8d8d8d;}
.bdr:before {margin-right: 10px;}
.bdr:after {margin-left: 10px;}

h3{
  margin: 0;
  padding: 0.5em;
  background-color: #AA5F5F; /* 背景色指定 */
  color: #FFFFFF;  
}

.ind1 {padding-left: 1em;}
.ind2 {padding-left: 2em;}

.t2 {width: 340px; table-layout: fixed; border-collapse: separate; border-spacing:3px;}
.t3 {width: 510px; table-layout: fixed; border-collapse: separate; border-spacing:3px;}
.t4 {width: 750px; table-layout: fixed; border-collapse: separate; border-spacing:3px;}
table td { border: 1px solid #ccc; background:#fff; padding: 4px;}
table th { border: 1px solid #ccc; background:#efefef; padding: 4px;}


.red {margin-bottom: 0em; padding: 0.25em 0.5em;/*上下 左右の余白*/  color: #494949;/*文字色*/  background: transparent;/*背景透明に*/  border-left: solid 10px #E43437;/*左線*/}
.blue {padding: 0.25em 0.5em;/*上下 左右の余白*/  color: #494949;/*文字色*/  background: transparent;/*背景透明に*/  border-left: solid 10px #4055CC;/*左線*/}
.yellow {padding: 0.25em 0.5em;/*上下 左右の余白*/  color: #494949;/*文字色*/  background: transparent;/*背景透明に*/  border-left: solid 10px #FFEA61;/*左線*/}




